.root {
  max-width: 980px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 26px;
  display: grid;
  margin: 0 auto;
}

.root__container {
  min-height: calc(100vh / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  color: black;
  background: #F2F2F2;
}

.content {
  color: white;
  background: #1F1F1F;
}

.footer {
  background: #2F80ED;
}